@import "vars"
@import "fonts"
@import "libs"
/*	--------------------------------------------------------------
/*	>>> TABLE OF CONTENTS:
/*	----------------------------------------------------------------
/*	1. Body
/*	2. Selection
/*	3. Separator
/*	4. Images
/*	5. Headers
/*	6. Links
/*	7. Inputs
/*	8. Checkboxes
/*	9. Radio buttons
/*	10. Textareas
/*	11. Positioning
/*	12. No paddings
/*	--------------------------------------------------------------*/

/* Body */
body
	position: relative
	overflow-x: hidden
	min-width: 320px
	line-height: 1.30
	font-family: $default-font
	font-size: $font-size
	color: $font-color
	background: #fff

/* Selection */
*::selection
	background: $link
	color: $font-color

/* Separator */
hr
	margin: 25px

/* Images */
img
	display: inline-block
	vertical-align: middle
	max-width: 100%
	height: auto

/* Headers */
h1,h2,h3,h4
	margin: .50em 0 .50em 0

h1
	font-size: 25px

h2
	font-size: 23px

h3
	font-size: 21px

h4
	font-size: 20px

/* Links */
a
	color: $link
	text-decoration: none

a:hover
	color: $link-hover
	text-decoration: underline

/* Inputs */

/* Checkboxes */

/* Radio buttons */

/* Textareas */

/* Positioning */
.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

/* No paddings */
.nopadding
   padding: 0 !important
   margin: 0 !important